.integrationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: white;
  border-color: #27272a;
  border-radius: 8px;
  box-shadow: 6px 6px 0px #5e5e60;
  &:hover {
    transform: translateY(-0.375rem);
  }
}

.integrationIcon {
  transform: scale(0.75);
}
