nav {
  height: 80px;
  position: fixed;
  width: 100%;
  padding: 0px 96px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  z-index: 99;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.linkList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-self: center;
}
