.popularTag {
  position: absolute;
  background-color: #eb2f05;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  transform: rotate(-20deg);
  right: 480px;
  top: -20px;
}

.priceBoxWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.priceBox {
  border-radius: 8px;
  background-color: white;
  padding: 32px;
  width: 512px;
  height: 288px;
}

.priceDetails {
  display: flex;
  flex-direction: column;
}

.cadence {
  font-size: 20px;
  font-weight: 600;
}

.priceTag {
  font-weight: 600;
  margin-top: 32px;
  font-size: 48px;
}

.priceSuffix {
  font-size: 14px;
}

.billingPeriod {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 48px;
}
