.body {
  padding: 128px 96px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.leftImage {
  position: absolute;
  left: -175px;
  top: 550px;
  z-index: 1;
}

.rightImage {
  position: absolute;
  right: -140px;
  top: -130px;
  z-index: 1;
}

.title {
  font-size: 48px;
  font-weight: 800;
}

.subTitle {
  font-size: 21px;
  font-weight: 200;
  margin: 24px 0px 48px;
}

.valuePropsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}
